*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body__section_backgroud
{
    background-image: url('../image/ears.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.body__display
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    gap: 368px;
}

.title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 45.5px;
    line-height: 46px;
    color: #FFFFFF;
    width: 240px;
}

.title__author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24.5px;
    line-height: 31px;
    color: #FFFFFF;
}

.subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 16px;
}

.login
{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 560px;
    background: #FFFFFF;
    border-radius: 3px;
    padding-top: 56px;
    padding-left: 40px;
}

.login__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #000000;
    padding-bottom: 50px;
}

.login__name
{  
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7A7A7A;
    padding-bottom: 5px;
}

.login__email_margin
{
    margin-bottom: 40px;
}

.login__password_margin
{
    margin-bottom: 85px;
}

.login__field
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 400px;
    height: 40px;    
}

.login__field_input
{
    width: 400px;
    height: 40px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border-bottom: 2px solid #EAEAEA;
    color: #2E2E2E;
    padding: 0 4px 0 4px;
}

.login__field_input:hover
{
    background: #F7F7F7;
    border-bottom: 2px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.login__field_input:not(:placeholder-shown)
{
    background: #F7F7F7;
    border-bottom: 2px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

input
{
    border: 0;
}

input:focus
{
    outline: none;
    box-shadow: none;
}

.login__field_icon
{
    position: absolute;
    z-index: 1;
    margin-left: 92%;
}

.button__size
{
    width: 93px;
    height: 48px;
}

.button-style
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
}

.button-style:hover
{
    background: #DD783F;
    opacity: 0.8;
}